.cloud {
    position: absolute;
    width: 280px;
    height: 55px;

    background: linear-gradient(to bottom,
            #ffffff,
            #f0f0f0);

    border-radius: 60px;
    opacity: 0.75;

    box-shadow:
        0 10px 18px rgba(0, 0, 0, 0.08),
        inset -6px -4px 8px rgba(255, 255, 255, 0.9);

    animation: none;
}

.cloud::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: linear-gradient(to bottom,
            #ffffff,
            #f3f3f3);
    top: -45px;
    left: 20px;
    border-radius: 50%;
}

.cloud::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background: linear-gradient(to bottom,
            #ffffff,
            #eeeeee);
    top: -60px;
    right: 18px;
    border-radius: 50%;
}

.cloud,
.cloud::before,
.cloud::after {
    filter: blur(0.6px);
}

.cloud:nth-of-type(1){top:6%;left:8%;}
.cloud:nth-of-type(2){top:12%;left:30%;}
.cloud:nth-of-type(3){top:8%;left:55%;}
.cloud:nth-of-type(4){top:8%;left:75%;}
