#game-container {
    position: fixed;

    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    height: 80vh;

    overflow: hidden;
    border: 5px solid black;

    border-radius: 14px;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.25),
        0 8px 18px rgba(0,0,0,0.18);

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(3px);
}
