#navbar {
    position: fixed;
    top: 0;
    left: 1%;
    right: 1%;
    width: 95%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    z-index: 2000;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-bottom: 1px solid rgba(255,255,255,0.3);

    box-shadow:
        0 8px 20px rgba(0,0,0,0.15);
}

#title {
    position: relative;
    border: 2px solid black;
    color: #000;
    font-family: 'Courier New', Courier, monospace, Arial;
    font-weight: bolder;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    border-radius: 6px;
    user-select: none;
}

#live-score {
    position: relative;
    border: 2px solid black;
    color: #000;
    font-family: 'Courier New', Courier, monospace, Arial;
    font-weight: bolder;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.6);
    padding: 6px 10px;
    border-radius: 6px;
    pointer-events: none;
}
